# OSX
#
.DS_Store
node_modules/

#Intellij idea
.idea/
/idea/
.vscode/
/unpackage/
.hbuilderx/launch.json
.project.config.json
.project.private.config.json

# build outputs
dist/
unpackage/
build_log.txt
evidence/
*.log
src/static/js/*.js
